<div class="page" data-name="pull-to-refresh">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">Item List</div>
    </div>
  </div>
  <div class="page-content ptr-content">
    <!-- search functionalilty -->
    <!-- <form action="{% url 'category_items' %}" method="GET">
      <label for="searchitem">Search</label>
      <input type="text" id="searchitem" name="q" placeholder="search...">
    </form> -->
    <div class="ptr-preloader">
      <div class="preloader color-multi"></div>
      <div class="ptr-arrow"></div>
    </div>
    <input type="text" id="searchitem" name ="itemsearch" class ="itemsearch" placeholder="Search items...">
    
    {% for item in cat_items %}
    <dl-routing>
      <a href="{{item.id}}" data-href="/item/" class="link post-horizontal" style="margin-bottom: 12px;">
        <div class="movie-header" style="width: 100%;">
          <img src="{{item.image.url}}" alt="" class="movie-cover" style="max-height: 250px !important;border-radius: 12px 12px 3px 3px;">
          <div class="movie-infos" style="width: 33% !important;">
            <div class="movie-block" style="padding: 33px 0 !important;">
              <i class="icon f7-icons">star_circle</i>
              <div class="movie-block-name">{{ item.category.brand.name }}</div>
              <div class="movie-block-text">{{item.code}}</div>
            </div>
            <div class="movie-block">
              <i class="icon f7-icons">info_circle_fill</i>
              <div class="movie-block-name">{{ item.hscode }}</div>
              <div class="movie-block-text">{{ item.category.name }}</div>
            </div>
            
          </div>
        </div>
        <div class="card-image-footer" style="background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0, rgb(73 99 135) 100%);width: 100% !important;padding: 7px 5px 5px 7px;
        height: 15%;">
          <div class="post-category" style="display: none;">{{ item }}</div>
          <h2>{{ item.name}}</h2>
        </div>
      </a>
    </dl-routing>
    {% endfor %}
    <!-- <div class="post-list">
      {% for item in cat_items %}
      <dl-routing>
      <a href="{{item.id}}" data-href="/item/" class="link post-horizontal">
        <div class="infos">
          <div class="post-category">{{ item }}</div>
          <div class="post-title">{{item.description}}</div>
          {% if item.hscode %}
          <div class="post-date">{{item.hscode}}</div>
          {% endif %}
        </div>
        <div class="post-image"><img src="{{item.image.url}}" alt=""></div>
      </a>
    </dl-routing>
      {% endfor %}
       -->
      
    </div>
  </div>
</div>

  
